@font-face {
  font-family: 'Blanka Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Blanka Regular"), url("../../Assets/Fonts/Blanka/Blanka-Regular.woff") format("woff"); }
@font-face {
  font-family: 'SF UI Display';
  src: local("SF UI Display"), url("../../Assets/Fonts/SF UI Family/SFUIDisplay-Medium.ttf"); }
@font-face {
  font-family: 'Graphik';
  src: local("Graphik"), url("../../Assets/Fonts/Graphik/GraphikMedium.otf"); }
@font-face {
  font-family: 'Helvetica';
  src: local("Helvetica"), url("../../Assets/Fonts/Helvetica/Helvetica.ttf"); }
::-webkit-scrollbar {
  width: 20px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  background: rgba(26, 26, 26, 0); }

::-webkit-scrollbar-thumb {
  background-color: rgba(214, 222, 225, 0.3);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box; }

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background-color: #1a1a1a;
  overflow-x: hidden; }
  body .site-container {
    scroll-behavior: smooth;
    background-color: #1a1a1a;
    font-family: "SF UI Display", "Graphik", sans-serif; }
    body .site-container ::selection {
      background-color: #F4005F;
      color: #1a1a1a; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 10px; }
  nav .logo {
    height: 1.5rem; }
    nav .logo img {
      height: 100%; }
  nav ul {
    list-style-type: none;
    margin-left: auto; }
    nav ul li {
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      margin: 5px;
      padding: 5px;
      border: solid 1px #4a4a4a;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
      border-radius: 8px; }
      nav ul li a {
        text-decoration: none;
        font-family: "Blanka Regular", serif;
        color: #C4C5B5; }
        nav ul li a:hover {
          color: #adaf98; }

.burger-menu div {
  width: 20px;
  height: 4px;
  margin: 3px;
  border-radius: 5px;
  transition: all 300ms ease; }

.line1 {
  background-color: #F4005F; }

.line2 {
  background-color: #FA8419; }

.line3 {
  background-color: #98E024; }

.burger-menu {
  display: none;
  cursor: pointer; }

@media screen and (max-width: 425px) {
  .nav-links {
    position: fixed;
    inset: 0 0 0 30%;
    display: flex;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    text-align: center;
    z-index: 1000;
    background-color: #1a1a1a;
    border: 1px solid #42433d;
    transform: translateX(100%);
    transition: transform 300ms ease-out; }
    @supports (backdrop-filter: blur(1rem)) {
      .nav-links {
        background-color: #00000050;
        backdrop-filter: blur(1rem); } }
    .nav-links li {
      background-color: #00000070; }
      .nav-links li:hover {
        background-color: #f4005f30; }

  .nav-links[data-visible="true"] {
    transform: translateX(0%); }

  .burger-menu {
    position: relative;
    z-index: 9999;
    display: block; }
    .burger-menu[aria-expanded="true"] {
      position: fixed;
      left: 89%; }
      .burger-menu[aria-expanded="true"] .line1 {
        transform: rotate(-45deg) translate(-5px, 6px); }
      .burger-menu[aria-expanded="true"] .line2 {
        opacity: 0; }
      .burger-menu[aria-expanded="true"] .line3 {
        transform: rotate(45deg) translate(-5px, -6px); } }
.home-wrapper {
  height: 100vh; }
  .home-wrapper .home-container {
    height: 100%; }
    .home-wrapper .home-container .home-grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-template-rows: repeat(3, minmax(100px, 1fr)); }
      .home-wrapper .home-container .home-grid .main-description {
        grid-column: span 3;
        grid-row: span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px; }
        .home-wrapper .home-container .home-grid .main-description h1 {
          color: #E0D561;
          font-size: 2.4rem; }
        .home-wrapper .home-container .home-grid .main-description h4 {
          margin-top: 10px;
          color: #77786e;
          font-size: 0.5rem; }
      .home-wrapper .home-container .home-grid .minion-container {
        grid-column: span 3;
        grid-row: 3 / -1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 70%;
        margin: 0 10px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px; }
        .home-wrapper .home-container .home-grid .minion-container .minion {
          background-color: #FFCB6B;
          margin: 5px;
          padding: 5px;
          border: solid 1px #4a4a4a;
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
          -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
          box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
          border-radius: 8px;
          cursor: pointer;
          background: url(../../Assets/Images/Backgrounds/Pokdex-Background.png);
          background-position: center;
          background-size: cover; }
          .home-wrapper .home-container .home-grid .minion-container .minion img {
            width: 100%;
            height: 77px; }

.about-wrapper {
  height: 200vh; }
  .about-wrapper .about-container {
    height: 100%; }
    .about-wrapper .about-container .about-grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-template-rows: repeat(6, minmax(100px, 1fr)); }
      .about-wrapper .about-container .about-grid .about-description {
        grid-column: span 3;
        grid-row: 1 / 4;
        padding: 10px;
        color: #98E024;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px; }
        .about-wrapper .about-container .about-grid .about-description .description {
          height: 100%;
          display: flex;
          justify-content: space-around;
          flex-direction: column; }
          .about-wrapper .about-container .about-grid .about-description .description h2 {
            color: #C4C5B5;
            font-family: "Blanka Regular", serif;
            padding-bottom: 20px;
            font-size: 2rem; }
      .about-wrapper .about-container .about-grid .image-wrapper {
        grid-column: span 3;
        grid-row: 4 / 6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .about-wrapper .about-container .about-grid .image-wrapper img {
          min-height: 100%;
          margin: 0;
          height: 40px;
          border-radius: 8px; }
      .about-wrapper .about-container .about-grid .prank-container {
        grid-column: span 3;
        grid-row: 6 / -1;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #77786e;
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0; }
        .about-wrapper .about-container .about-grid .prank-container button {
          background-color: #98E024;
          text-align: center;
          padding: 10px;
          margin: 10px 5px;
          border: 1px solid #649317;
          border-radius: 8px; }
          .about-wrapper .about-container .about-grid .prank-container button a {
            text-decoration: none;
            font-family: "Blanka Regular", serif;
            color: #1a1a1a; }
          .about-wrapper .about-container .about-grid .prank-container button:hover {
            background-color: #a3e33a; }

.skills-wrapper {
  height: 200vh; }
  .skills-wrapper .skills-container {
    height: 100%; }
    .skills-wrapper .skills-container .skills-grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-template-rows: repeat(4, minmax(100px, 1fr));
      margin: 10px; }
      .skills-wrapper .skills-container .skills-grid .skill-card {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 0.6rem;
        font-weight: 800;
        margin: 10px;
        padding: 0;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px; }
        .skills-wrapper .skills-container .skills-grid .skill-card .heading {
          text-align: left; }
          .skills-wrapper .skills-container .skills-grid .skill-card .heading span {
            background: #1a1a1a;
            font-family: "Blanka Regular", serif;
            color: #C4C5B5;
            font-size: 1.2rem;
            text-align: left; }
        .skills-wrapper .skills-container .skills-grid .skill-card .bubbles span:nth-of-type(1) {
          background-color: #FA8419; }
        .skills-wrapper .skills-container .skills-grid .skill-card span {
          background-color: #F4005F;
          padding: 5px;
          text-align: center;
          border-radius: 8px;
          white-space: nowrap;
          margin: 2px; }
      .skills-wrapper .skills-container .skills-grid .coding-card {
        grid-column: span 3;
        grid-row: 1;
        padding: 10px;
        text-align: left; }
        .skills-wrapper .skills-container .skills-grid .coding-card span {
          background-color: #98E024; }
      .skills-wrapper .skills-container .skills-grid .tools-card {
        grid-column: span 3;
        grid-row: 2;
        padding: 10px;
        text-align: left; }
        .skills-wrapper .skills-container .skills-grid .tools-card span {
          background-color: #F4005F; }
      .skills-wrapper .skills-container .skills-grid .interests-card {
        grid-column: span 3;
        grid-row: 3;
        padding: 10px;
        text-align: left; }
        .skills-wrapper .skills-container .skills-grid .interests-card span {
          background-color: #9D65FF; }
      .skills-wrapper .skills-container .skills-grid .skills-description-container {
        grid-column: span 3;
        grid-row: 4;
        text-align: left;
        margin: 10px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px; }
        .skills-wrapper .skills-container .skills-grid .skills-description-container h1 {
          color: #C4C5B5;
          font-family: "Blanka Regular", serif;
          padding-bottom: 20px;
          font-size: 2rem; }
        .skills-wrapper .skills-container .skills-grid .skills-description-container p {
          font-size: 1rem;
          color: #77786e; }

.works-wrapper {
  height: 100vh; }
  .works-wrapper .work-container {
    height: 100%;
    margin: 10px; }
    .works-wrapper .work-container .works-grid {
      height: 100%;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-template-rows: repeat(4, minmax(100px, 1fr)); }
      .works-wrapper .work-container .works-grid .title {
        padding: 10px 0;
        grid-column: span 2;
        text-align: left;
        display: flex;
        align-items: center; }
        .works-wrapper .work-container .works-grid .title h2 {
          font-family: "Blanka Regular", serif;
          font-size: 2rem;
          color: #C4C5B5;
          margin: 10px 10px 5px 10px; }
      .works-wrapper .work-container .works-grid .cards {
        margin: 2px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px;
        border-radius: 8px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: url(../../Assets/Images/Backgrounds/Forest-Scene.jpg);
        background-size: cover;
        font-family: "Blanka Regular", serif;
        font-size: 1rem; }
        .works-wrapper .work-container .works-grid .cards button {
          margin-top: 10px;
          background-color: #98E024;
          text-align: center;
          padding: 10px;
          margin: 5px;
          border: 1px solid #649317;
          border-radius: 8px;
          width: 100%; }
          .works-wrapper .work-container .works-grid .cards button a {
            text-decoration: none;
            font-family: "Blanka Regular", serif;
            color: #1a1a1a; }
          .works-wrapper .work-container .works-grid .cards button:hover {
            background-color: #a3e33a; }
      .works-wrapper .work-container .works-grid .card-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 4; }
      .works-wrapper .work-container .works-grid .card-2 {
        grid-column: 2 / -1;
        grid-row: 2 / 4; }
      .works-wrapper .work-container .works-grid .card-3 {
        grid-column: 1 / -1;
        grid-row: 4 / -1;
        text-align: center;
        margin: 10px;
        padding: 5px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px;
        align-items: center;
        display: flex;
        justify-content: center; }
        .works-wrapper .work-container .works-grid .card-3 h4 {
          color: #77786e;
          font-size: 0.8rem; }

.contact-wrapper {
  height: 100vh;
  margin-bottom: 10px; }
  .contact-wrapper .contact-container {
    height: 100%; }
    .contact-wrapper .contact-container .contact-grid {
      margin: 10px;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      grid-template-rows: repeat(6, minmax(100px, 1fr)); }
      .contact-wrapper .contact-container .contact-grid .form-container {
        grid-column: span 3;
        grid-row: 1 / 5; }
        .contact-wrapper .contact-container .contact-grid .form-container .form-heading {
          margin-bottom: 20px; }
          .contact-wrapper .contact-container .contact-grid .form-container .form-heading h1 {
            margin: 5px;
            font-family: "Blanka Regular", serif;
            color: #C4C5B5; }
          .contact-wrapper .contact-container .contact-grid .form-container .form-heading h3 {
            margin: 5px;
            color: #F4005F; }
        .contact-wrapper .contact-container .contact-grid .form-container form input {
          background-color: #272727;
          border: 1px solid #343434;
          outline: none;
          border-radius: 4px;
          color: #77786e;
          padding: 5px;
          margin-bottom: 5px;
          font-size: 1rem; }
        .contact-wrapper .contact-container .contact-grid .form-container form textarea {
          background-color: #272727;
          border: 1px solid #343434;
          outline: none;
          border-radius: 4px;
          color: #77786e;
          padding: 5px;
          font-size: 1rem;
          resize: none;
          width: 100% !important; }
        .contact-wrapper .contact-container .contact-grid .form-container .form-buttons {
          text-align: right;
          margin-right: 10px; }
          .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button {
            font-family: "Blanka Regular", serif;
            color: #98E024;
            background-color: transparent;
            outline: none;
            border: none;
            margin: 5px; }
            .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button:nth-of-type(1) {
              color: #9D65FF; }
              .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button:nth-of-type(1):hover {
                color: #bd98ff; }
            .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button:nth-of-type(2) {
              color: #F4005F; }
              .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button:nth-of-type(2):hover {
                color: #ff287c; }
            .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button:nth-of-type(3) {
              color: #98E024; }
              .contact-wrapper .contact-container .contact-grid .form-container .form-buttons button:nth-of-type(3):hover {
                color: #ade651; }
      .contact-wrapper .contact-container .contact-grid .social-media {
        grid-column: span 1;
        grid-row: 5 / -1;
        margin: 5px 5px 10px 5px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem; }
        .contact-wrapper .contact-container .contact-grid .social-media a {
          margin: 5px; }
      .contact-wrapper .contact-container .contact-grid .address {
        grid-column: 2 / -1;
        grid-row: 5 / -1;
        margin: 5px 5px 10px 5px;
        padding: 10px;
        border: solid 1px #4a4a4a;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
        border-radius: 8px; }
        .contact-wrapper .contact-container .contact-grid .address h1 {
          font-size: 1.3rem;
          font-family: "Blanka Regular", serif;
          color: #C4C5B5;
          margin-bottom: 20px; }
        .contact-wrapper .contact-container .contact-grid .address h4 {
          font-size: 1rem;
          color: #C4C5B5;
          margin-bottom: 10px; }
        .contact-wrapper .contact-container .contact-grid .address p {
          font-size: 0.6rem;
          color: #77786e; }

/*# sourceMappingURL=Styles.css.map */
