// Variables

// Global Colors
$background: #1a1a1a;
$foreground-yellow: #E0D561;
$foreground-grey: #C4C5B5;
$foreground-dark-grey: #77786e;

// Colors (Monokai Soda Theme)
$monokai-red: #F4005F;
$monokai-green: #98E024;
$monokai-yellow: #FA8419;
$monokai-purple: #9D65FF;
$monokai-cyan: #58D1EB;

// Test Colors (Dracula+ Theme)
$test: #FF5555;
$test2: #50FA7B;
$test3: #FFCB6B;
$test4: #82AAFF;
$test5: #C792EA;
$test6: #8BE9FD;

// Fonts
$title: 'Blanka Regular', serif;
$paragraph: 'SF UI Display', 'Graphik', sans-serif;